.light pre[data-theme*=" "] {
  background-color: var(--shiki-light-bg);
}

.light code[data-theme*=" "] span {
  color: var(--shiki-light);
}

span[data-line] {
  @apply mr-4;
}

.dark pre[data-theme*=" "] {
  background-color: var(--shiki-dark-bg);
}

.dark code[data-theme*=" "] span {
  color: var(--shiki-dark);
}

h2 > a.subheading-anchor {
  @apply text-xl;
}

h3 > a.subheading-anchor {
  @apply text-lg;
}

.subheading-anchor {
  @apply font-bold text-light-heading no-underline dark:text-dark-heading;
}

:root {
  --github-alert-default-color: rgb(175, 184, 193);
  --github-alert-note-color: rgb(9, 105, 218);
  --github-alert-important-color: rgb(130, 80, 223);
  --github-alert-warning-color: rgb(154, 103, 0);
}

.markdown-alert {
  padding: 0 1em;
  margin-bottom: 16px;
  border-left: 0.25em solid var(--github-alert-default-color);
}

.markdown-alert-note {
  border-left-color: var(--github-alert-note-color);
}

.markdown-alert-important {
  border-left-color: var(--github-alert-important-color);
}

.markdown-alert-warning {
  border-left-color: var(--github-alert-warning-color);
}

.markdown-alert-header {
  display: inline-flex;
  margin-bottom: 4px;
  align-items: center;
}

.markdown-alert-header > svg {
  margin-right: 8px;
}
